.Badge {
  font-size: 0.875rem;
  font-weight: 600;
  display: inline-block;
  color: $color-primary;
  background-color: $color-secondary-light;
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
}

.Badge + .Badge {
  margin-left: 0.5rem;
}
