.CategoryFilter {
  &__header {
    padding-left: 1rem;
  }

  &__title {
    font-size: .8rem;
    color: $color-dark;
    padding-left: .5rem;
  }

  &__group {
    list-style-type: none;
    padding: .5rem 0;
  }

  &__group-item {
    padding: .8rem 1rem;
    border-bottom: .1rem solid $color-primary-lightest;

    label {
      margin-bottom: 0;
    }

    input {
      display: inline-block;
      float: right;
      margin-top: .14rem;
      width: 1.2rem;
      height: 1.2rem;
      appearance: none;
      background-color: $color-dark;
      color: #fff;
      outline: none;

      &:checked {
        &:before {
          content: 'L';
          position: relative;
          display: inline-block;
          top: -.24rem;
          left: .35rem;
          transform: rotate(40deg) scaleX(-1);
        }
      }
    }
  }
}
