/* 
  Entando content API markup
  and will be moved to an Entando page model
*/

article h1 {
  font-size: 2rem;
  font-weight: bold;
  color: $color-darkest;
  opacity: 1;
}

article h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: $color-darkest;
  opacity: 1;
}

article time {
  text-transform: uppercase;
  color: $color-dark;
}

article .btn {
  text-transform: uppercase;
  font-weight: bold;
}

article .btn::after {
  content: "\0020\0020\2192";
}

.PageContainer__footer {
  height: 20vh;
  max-height: 250px;
  background-size: cover;
  background-image: url(../images/Vegetato@2x.png);
  clip-path: polygon(0 60%, 100% 30%, 100% 100%, 0% 100%);
}
