.ContentList {
  &__search-results__header {
    background-color: $color-secondary-lightest;
  }

  &__search-results__size {
    font-weight: bold;
  }

  &__load-more {
    text-align: center;
  }
}
