.ContentListItem {
  .card-header {
    background-color: inherit;
    border-bottom: 0;
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
  }

  &__link-to-detail {
    word-break: normal;
    color: $color-accent;
  }
}
