.ErrorsAlert {
  .alert {
    color: $color-secondary-lightest !important;
    background-color: $color-red !important;
    border-color: unset !important;
  }

  &__message {
    padding-left: 1.5rem;
  }

  button.close {
    line-height: inherit;
    float: none;
    padding: 0 1.25rem 0 0;
  }
}
