.login {
  background-image: url(../images/Logo_vertical@2x.png);
  background-repeat: no-repeat;
  background-position: center 8.5rem;
  background-size: 10rem;
  padding: 0;

  &__bgtop {
    background-image: url(../images/Vegetato@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 5rem;
  }
}
