.login {
  background-image: url(../images/Logo_vertical@2x.png);
  background-repeat: no-repeat;
  background-position: center 8.5rem;
  background-size: 10rem;
  padding: 0;

  &__bgtop {
    background-image: url(../images/Vegetato@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 5rem;
  }

  .LoginForm {
    position: relative;
    top: 9rem;
    background-color: $color-secondary-lightest;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;

    legend {
      font-weight: 700;
      font-size: 1.25rem;
      color: $color-primary;
    }

    .form-group {
      margin-top: 3rem;
    }

    label {
      color: $color-primary;
    }

    .form-group:last-of-type {
      margin-bottom: 2rem;
    }

    .form-control {
      background-color: transparent;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-color: $color-primary;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      &:focus {
        box-shadow: none;
      }
    }

    &__button {
      background-color: $color-accent;
      color: $color-primary;
      border-color: $color-accent;
      font-weight: 600;
    }
  }
}
