.LoginForm {
  position: relative;
  top: 16rem;
  background-color: $color-bordered-light;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;

  legend {
    font-weight: 700;
  }

  .form-group {
    margin-top: 3rem;
  }

  .form-group:last-of-type {
    margin-bottom: 2rem;
  }

  .form-control {
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: $color-primary-light;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &:focus {
      box-shadow: none;
    }
  }

  &__button {
    background-color: $color-dark;
    font-weight: 600;
  }
}
