.NetworkOfflineWarning {
  position: fixed;
  height: 64px;
  margin-top: 60px;
  width: 100%;
  background-color: $color-dark;
  color: #fff;
  padding: 1rem;
  display: flex;
  align-items: center;
  z-index: 100;

  &__text {
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.8rem;
    padding: 0 1rem 0 1rem;
    flex-grow: 1;
  }
}
