.Notifications {
  &--empty {
    background-color: $color-secondary-lightest;

    &__body {
      img {
        margin-top: 23vh;
      }
    }
  }

  &__list {
    background-color: $color-secondary;
    padding-right: 15px;
    padding-left: 15px;
  }
}
