.Page__footer {
  height: 20vh;
  max-height: 250px;
  background-size: cover;
  background-image: url(../images/Vegetato@2x.png);
  background-position: bottom right;
  clip-path: polygon(0 30%, 100% 40%, 100% 100%, 0% 100%);
}
