.Page {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 60px;
  color: $color-dark;
  display: flex;
  flex-direction: column;  
  
  &__content {
    flex-grow: 1;
    will-change: transform;
  }
}
