.NotificationsHeader {
  padding-top: 1rem;
  background-color: #fff;
  border-bottom: 1px solid $color-primary-light;

  &__title {
    font-weight: 600;
    text-transform: uppercase;
    color: $color-darkest;
  }

  &__amount {
    font-weight: 600;
    color: $color-red;
  }
}
