.login {
  background-image: url(../images/Logo_vertical@2x.png),
    url(../images/Vegetato@2x.png);
  background-repeat: no-repeat, repeat-x;
  background-position: center 7rem, center -13rem;
  background-size: 10rem, 28rem;
  padding: 0;
}
