.SelectedCategoryList {
  background: #ffffff;
  padding: 15px 15px 30px 15px;

  &__header {
    padding-left: 1rem;
  }

  &__title {
    font-size: 0.9rem;
    color: $color-dark;
    padding-left: 0.5rem;
  }

  &__item {
    display: inline-block;
    font-weight: 600;
    margin: 1.5rem 0.6rem 0 0;
  }
}
