.Toasts {
  position: fixed;
  top: 1em;
  right: 0.9rem;
  z-index: 1040;
}

.Toast {
  button {
    color: $color-primary-text;
  }

  .toast-header {
    border-bottom: 0;
  }

  .toast-header,
  .toast-body {
    background-color: $color-dark;
    color: $color-primary-text;
  }

  &--error {
    .toast-header,
    .toast-body {
      background-color: $color-red;
    }
  }
}
