.topbar {
  background-color: $color-primary-lightest;

  &.fixed-top {
    left: initial;
    right: initial;
    width: 100vw;
  }

  .nav {
    width: 100%;
  }

  .logo {
    max-height: 2rem;
  }

  .nav-item {
    max-width: 5rem;
  }

  .nav-link {
    padding: 0;
  }

  .contentType--selected a {
    border-bottom: 0.15rem solid $color-primary;
  }

  .navbar {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    flex-wrap: nowrap;
  }

  .nav-right {
    display: flex;
    justify-content: flex-end;
  }

  .navbar-toggler {
    border-color: transparent;

    &:focus {
      outline: none;
    }
  }

  &.searchbar {
    .cancel {
      text-align: left;
      display: inline-block;
      height: 100%;
      padding-top: 0.4rem;
    }

    .input-group:focus-within {
      .input-group-text {
        border-color: #80bdff;
      }

      .form-control {
        box-shadow: none;
      }
    }

    .input-group-text {
      background-color: $color-bordered-light;
      border-right: none;
      border-top-left-radius: 1.5rem;
      border-bottom-left-radius: 1.5rem;
    }

    .form-control {
      border-left: none;
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
    }
  }
}
