.content-detail-enter {
  transform: translateX(-100%);
}

.content-detail-enter-active {
  transform: translateX(0%);
  transition: 350ms ease-out;
}

.content-detail-exit {
  transform: translateX(0%);
}

.content-detail-exit-active {
  transform: translateX(-100%);
  transition: 350ms ease-out;
}

.content-detail-exit-done {
  .drawer {
    display: block;
  }
}

.content-list-enter {
  transform: translateX(100%);

  .drawer {
    display: none;
  }
}

.content-list-enter-active {
  transform: translateX(0%);
  transition: 350ms ease-out;
}

.content-list-enter-done {
  .drawer {
    display: block;
  }
}

.content-list-exit {
  transform: translateX(0%);

  .drawer {
    display: none;
  }
}

.content-list-exit-active {
  transform: translateX(100%);
  transition: 350ms ease-out;
}

.content-list-exit-done {
  .drawer {
    display: block;
  }
}

.fade-enter .nav-left {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: 350ms ease;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: 350ms ease;
}
