.content-detail-enter .Page__content {
  transform: translateX(-100%);
}

.content-detail-enter-active .Page__content {
  transform: translateX(0%);
  transition: 350ms ease-out;
}

.content-detail-exit .Page__content {
  transform: translateX(0%);
}

.content-detail-exit-active .Page__content {
  transform: translateX(100%);
  transition: 350ms ease-out;
}

.content-list-enter .Page__content {
  transform: translateX(100%);
}

.content-list-enter-active .Page__content {
  transform: translateX(0%);
  transition: 350ms ease-out;
}

.content-list-exit .Page__content {
  transform: translateX(0%);
}

.content-list-exit-active .Page__content {
  transform: translateX(-100%);
  transition: 350ms ease-out;
}
