.drawer {
  left: 0;
  top: 0;
  position: fixed;
  z-index: 10000;
  width: 20rem;
  background-color: $color-bordered-light;
  transition: left ease-in .5s;

  &.closed {
    left: -20rem;
  }

  &.open {
    visibility: visible;
  }
}
