body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-primary-lightest;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  max-width: 100%;
  word-break: break-all;
}

a:link {
  color: #333333;
}
a:active {
  color: #333333;
}
a:visited {
  color: #333333;
}
a:hover {
  color: #333333;
}

.item-footer {
  text-decoration: underline;
}

.footer-page {
  width: 100%;
  height: 32px;
  text-align: center;
  line-height: 16px;
}

.one-line-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
