.login {
  background-image: url(../images/Logo_vertical@2x.png), url(../images/illustration_camouflagepattern@2x.png);
  background-repeat: no-repeat;
  background-position: center 8rem, center -20rem;
  background-size: 10rem, 28rem;
}
