.login {
  background-image: url(../images/Logo_vertical@2x.png), url(../images/illustration_camouflagepattern@2x.png);
  background-repeat: no-repeat;
  background-position: center 8rem, center -20rem;
  background-size: 10rem, 28rem;
  padding: 0;

  .loginForm {
    position: relative;
    top: 16rem;
    background-color: $color-bordered-light;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    min-height: calc(100vh - 16rem);

    legend {
      font-weight: 700;
    }

    .form-control {
      background-color: transparent;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-color: $color-primary-light;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      &:focus {
        box-shadow: none;
      }
    }

    button {
      background-color: $color-dark;
    }

  }
}
