.Notifications {
  min-height: 100vh;
  padding: 60px 0 0 0;
  
  color: $color-dark;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  &--empty {
    background-color: #FFFFFF;

    .footer-background {
      min-height: 30vh;
      background-size: cover;
      background-image: url(../images/Vegetato@2x.png);
      clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
    }
  }

  .card {
    margin: 2rem auto;
  }  

  &__list {
    background-color: $color-primary-lightest;
    padding-right: 15px;
    padding-left: 15px;
  }
}
