.topbar {
  background-color: $color-primary-lightest;

  .logo {
    max-height: 2rem;
  }

  .nav-item {
    max-width: 5rem;
  }

  .contentType--selected a {
    border-bottom: .15rem solid $color-primary;
  }

  .navbar-toggler {
    border-color: transparent;

    &:focus {
      outline: none;
    }
  }
}
