.topbar {
  background-color: $color-primary-lightest;

  .logo {
    max-height: 2rem;
  }

  .nav-item {
    max-width: 5rem;
  }

  .contentType--selected a {
    border-bottom: .15rem solid $color-primary;
  }

  .navbar-toggler {
    border-color: transparent;

    &:focus {
      outline: none;
    }
  }

  &.searchbar {
    .input-group:focus-within {
      .input-group-text {
        border-color: #80bdff;
      }

      .form-control {
        box-shadow: none;
      }

    }

    .input-group-text {
      background-color: $color-bordered-light;
      border-right: none;
      border-top-left-radius: 1.5rem;
      border-bottom-left-radius: 1.5rem;
    }

    .form-control {
      border-left: none;
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
    }
  }
}
